/* Font Colors */

$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-sarif;
$base-font-color: #666666;


/* Background Colors */

$primary-color: #565656;
$secondary-color: #99261F;
$light-color: whitesmoke;
$dark-color: #3B3D3F;


/* Showcase Area */

$showcase-height: 600px;
$showcase-image: url('img/w-header_bg2.jpg');